.error{
    color: red;
    font-style: italic;
}

h1{
    font-size: xx-large;
    margin: 20px;
}

header{
    margin: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(198, 248, 248);
}

.btn-secondary{
    margin-left: 50px;
}

input{
    background-color: rgb(204, 250, 200);
}