<div class="card">
    <mat-card class="mat-card">
        <mat-card-header>
          <mat-card-title><h2> {{ mediaItem.name | uppercase}} - ( {{ mediaItem.medium }} ) </h2></mat-card-title>
          <mat-card-subtitle><div>Wateched on {{ mediaItem.watchedOn | date}} </div></mat-card-subtitle>
        </mat-card-header>
        <h3>Description...</h3>
        <p> {{ mediaItem.description }} </p>
        <mat-card-content>
          <div> {{ mediaItem.category }} </div>
          <div> {{ mediaItem.year }} </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="tools">
              <div class="btn-group" role="group" aria-label="Basic example">
                  <button mat-icon-button (click)="toggleSelected()">
                      <mat-icon *ngIf="selected">
                        favorite
                      </mat-icon>
                      <mat-icon *ngIf="!selected">
                        favorite_border
                      </mat-icon>
                  </button>
                  <a (click)="onDelete()" class="delete">
                      <button type="button" class="btn btn-danger">Remove</button>
                  </a>
                  <a class="details">
                      <button type="button" class="btn btn-success">Watch</button>
                  </a>
              </div>
          </div>
        </mat-card-actions>
      </mat-card>
</div>